/* -------------------- DEFAULT FORMATTING ---------------------- */
/* html, body {
    padding: 0;
    margin: 0;
} */

* {
    font-family: "Lucida Console", "Courier New", monospace;
    color:aliceblue
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

ul {
    list-style-type: none; /* remove bullet points */
    margin: 0; /* remove spacing between 'need help?' and list items */
    display: inline;
}

