
/* 
Container Model ~

### MAIN ###
  + .login-box
    (1) h1
    (2) .username label, input[type=button id=usr]
    (3) .password label, a
    (4) input[type=button id=pwd]
    (5) input[type=button id=cont]
    (6) details.help, summary, ul > li
  + .new-account
    (1) 'New to Amazon?' text,
    (2) input[type=button id=create]

### FOOTER ###
  + .footer

*/


.container {
    display: flex;
    flex-flow: column; /*  wrap here fits the header and footer each on one line (and so they have the same width) */
    align-content: center; /* squishes everything to the middle */
}

.main {
    display: flex;
    flex-flow: column wrap; /* wrap here puts all the main items on their own line w/ the same width, separate from the footer */
    align-content: center; /* squishes everything to the middle */
    margin-top: 75px;
    margin-bottom: 35px;
}

.main, .login-box {
    min-width: 400px;
    min-height: 350px;
}

.login-box {
    display: flex;
    flex-flow: column;
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    justify-content: space-evenly;
    margin-top: 0;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.new-account {
    padding-top: 15px;
}

.footer {
    display: block;
    padding-top: 30px;
    text-align: center; /* center text in footer */
    border-top: solid;
    border-color: lightgrey;
    border-width: thin;
    background-image: linear-gradient(#f2f2f2,#ffffff); /* https://www.w3schools.com/css/css3_gradients.asp */
    position: relative;
    top: 0px;
    
}

/* ########################### */

* {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    color: #4489CE;
    font-size: 16px;
    text-decoration: none;
}

/* formatting for 'email' and 'password' labels */
label {
    padding-bottom: 3px;
    font-weight: bold;
}

/* formatting for all input elements (text, button) */
input { 
    display: block; /* put each input element on it's own line */
    height: 38px;
    width: 100%; /* full width of the item */
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: gray;
    font-size: 16px;
}

/* ########################### */

.password {
    display: flex;
    justify-content: space-between; /* push 'password' and 'forgot password' to outer edges on same line */
}

/* specific formatting for 'continue' button */
input#cont {
    background-color: #F0C559;
    border-color: #C49B36;
}

/* ########################### */

.help ul {
    list-style-type: none; /* remove bullet points */
    margin: 0; /* remove spacing between 'need help?' and list items */
}

.help a {
    font-size: 16px;
}

/* ########################### */

.new-account p { /* format 'New to Amazon?' text */
    text-align: center;
    font-size: 16px;
    color: gray;
}

/* specific formatting for 'create your account' button */
input#create {
    background-color: #E5E7E9; /* #EDEEF2; #8F9298; #ffffff */
    border-color: #CACFD2; 
}

/* ########################### */

#copyright {
    padding: 10px;
    font-size: 14px;
    color: grey;
}

.ftlinks a {
    padding: 10px; /* add space between links */
}